body
{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 80px;
    background-color: #91ffb5;
    overflow: hidden;
}

p
{
    margin: 1rem;
    animation: rainbow 2.5s linear infinite;
    text-shadow: rgba(0, 0, 0, .5) 0 0 3rem;
}

img
{
    width: 20rem;
    height: 20rem;
    border-radius: 40px;
    box-shadow: rgba(0, 0, 0, .5) 0 0 3rem;
}

@keyframes rainbow
{
    100%,0% { color: rgb(255,0,0);}
    8% { color: rgb(255,127,0);}
    66% { color: rgb(0,0,255);}
    75% { color: rgb(127,0,255);}
    83% { color: rgb(255,0,255);}
    91% { color: rgb(255,0,127);}
}